.About {
    text-align: center;
    color: white;
    margin-top: 60px;
}
.About p {
    font-size: 14px;
}
.row {
    display: flex;
    justify-content: space-evenly;
}
.video {
    width: 100px;
    height: 100px;
    background-color: white;
}
.pelatih {
    margin-top: 80px;
}
.name {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
}
.pelatih img {
    width: 250px;
    height: 300px;
}
.proker {
    margin-top: 80px;
}

