.divisi h2 {
    color: white;
    text-align: center;
}
.divisi {
    margin-top: 80px;
    text-align: center;
}
.rowdiv {
    width: 800px;
    height: 70px;
    background-color: #5887FF;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
}
.div1 img {
    width: 45px;
    height: 45px;
}
.div1 p {
    font-size: 14px;
    color: white;
    padding-left: 10px;
}
.div1 {
    display: flex;
    padding-top: 10px;
}
.div2 img {
    width: 45px;
    height: 45px;
}
.div2 p {
    font-size: 14px;
    color: white;
    padding-left: 10px;
}
.div2 {
    display: flex;
    padding-top: 10px;
}
.div3 img {
    width: 45px;
    height: 45px;
}
.div3 p {
    font-size: 14px;
    color: white;
    padding-left: 10px;
}
.div3 {
    display: flex;
    padding-top: 10px;
}
.card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
}
.web {
    background-color: #23395d;
    border-radius: 5px;
    box-shadow: 0px 4px 50px rgba(255, 255, 255, 0.25);
    text-align: left;
}
.programming {
    background-color: #23395d;
    border-radius: 5px;
    box-shadow: 0px 4px 50px rgba(255, 255, 255, 0.25);
    text-align: left;
}
.robotic {
    background-color: #23395d;
    border-radius: 5px;
    box-shadow: 0px 4px 50px rgba(255, 255, 255, 0.25);
    text-align: left;
}
.web img {
    width: 230px;
    height: 130px;
    border-radius: 5px;
}
.programming img {
    width: 230px;
    height: 130px;
    border-radius: 5px;
}
.robotic img {
    width: 230px;
    height: 130px;
    border-radius: 5px;
}
.web h4 {
    color: white;
    padding-left: 15px;
}
.programming h4 {
    color: white;
    padding-left: 15px;
}
.robotic h4 {
    color: white;
    padding-left: 15px;
}
.web p {
    font-size: 12px;
    color: white;
    padding-left: 15px;
}
.programming p {
    font-size: 12px;
    color: white;
    padding-left: 15px;
}
.robotic p {
    font-size: 12px;
    color: white;
    padding-left: 15px;
}
.slogan {
    color: white;
    margin-top: 70px;
}
.slogan h1 {
    text-align: center;
}
.slogan p {
    text-align: center;
}