.intro {
    text-align: center;
    color: white;
    margin-top: 70px;
}
.intro p {
    font-size: 14px;
}
.intro img {
    width: 660px;
    height: 530px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.about {
    text-align: center;
}
.about p {
    font-size: 12px;
}